/* src/components/About.css */

.about {
  font-family: 'IBM Plex Mono', monospace;
  height: 100vh; /* Makes About section span full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;

}

.about-content {
  display: flex;
  flex-direction: row; /* Side-by-side layout if space permits */
  align-items: flex-start; /* Align items at the start of the container vertically */
  justify-content: center; /* Horizontally center content */
  background-color: rgba(60, 61, 55, 0.8); /* Transparency added */
  width: 80%;
  min-height: 67vh;
  border-radius: 0.5rem;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.about-text {
  width: 60%;
  align-self: start; /* Ensures the text section aligns at the top */
  padding-right: 3rem; /* Space between text and images */
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
  text-align: center;
}

.about-text p {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  text-align: justify;
}

.about-images {
  width: 40%; /* Adjusted for image space */
  display: flex;
  justify-content: space-around; /* Space out images */
  
}

.about-image {
  width: calc(50% - 10px); /* Calculate width minus the gap */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.25); /* Shadow for depth */
  border: white;
}

.about-image.one {
  position: absolute;
  top: 8.1rem;
  right: 5.5rem;
  width: 23%; /* Adjusted for image space */
  transform: rotate(10deg); /* Tilted slightly */
  border: 5px solid white;
  z-index: 3;
}

.about-image.two {
  position: absolute;
  top: 4.8rem;
  right: 15.3rem;
  width: 21%; /* Adjusted for image space */
  transform: rotate(-24deg); /* Tilted slightly */
  border: 5px solid white;
  z-index: 2;
}
.rotate-arrow {
  display: inline-block;
  transform: rotate(90deg); /* Rotate arrow to the right */
  margin-left: 5px;
}

.next-photo{
  position: absolute;
  bottom: 4.1rem;
}

.next-photo button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4rem;
}



@media (max-width: 768px) {
  .about-content {
    flex-direction: column; /* Stack vertically on smaller screens */
    align-items: center; /* Center alignment */
  }

  .about-text, .about-images {
    width: 100%; /* Full width on smaller screens */
  }

  .about-image {
    width: 70%; /* Larger to fill space */
    margin: 10px 0; /* Space above and below */
  }
}


.resume-download {
  margin-bottom: 1rem;
}

.resume-download a {
  color: white;
  background-color: #000000; /* or any color that fits your design */
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.resume-download a:hover {
  background-color: #555555; /* Darker shade on hover */
}

.social-media {
  position: absolute; /* Absolutely position this div */
  bottom: 20px; /* Position it 20px from the bottom */
  left: 20px; /* Position it 20px from the left */
  display: flex;
  gap: 20px; /* Space between icons */
}

.social-media a {
  color: white;
  font-size: 1.7rem; /* Adjust size accordingly */
  transition: color 0.3s;
}

.social-media a:hover {
  color: #0af; /* Highlight color on hover */
}