/* src/components/Ball.css */

.ball-container {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background-image: url('C:/ANU/web-portfolio/test-bootstrap/src/components/use-svg-as-background-image-particle-strokes.svg'); */
  z-index: 1;
  
}

.animated-ball {
  position: absolute;
  left: -10%; /* Start slightly off-screen on the left */
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer; /* Show pointer on hover */
  animation: moveRight 10s linear infinite;
  animation-duration: calc(200s / var(--i)); /* Adjust speed using --i */
  box-shadow:
    0 0 0.8rem 0.5rem rgba(107, 98, 228, 0.1),
    0 0 0.7rem 0.9rem rgba(39, 13, 153, 0.151);
  opacity: 0.6;
  cursor: pointer;
}

/* Keyframes for horizontal movement */
@keyframes moveRight {
  0% {
    transform: translateX(0); /* Starting from the left */
  }
  100% {
    transform: translateX(200vw); /* Move to the right off-screen */
  }
}
